*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black ;
}

#image-height{
    height: 650px;
    background-color: bisque;
}

#search-design{
    align-items: center;
    background-color: lightgray;
    width: 330px;
    border: 0.125rem solid #000;
    padding: 1px 10px;
    border-radius: 30px;
    box-shadow: 15px px;

}

.height{
}


input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 330px;

}
